*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B0A09;
    color: white;
}

section{
    min-height: 100dvh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
}

#sec5 p{
    margin-bottom: 40px;
}
.textAlinhado{
    display: flex;
    justify-content: space-between;
    
}
.textAlinhado p{
    display: flex;
}

.galeriaFoto{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-top: 40px; 
}

.linha{
    display: flex;        
    gap: 20px;              
    height: 350px;
}